body {
    background-color: skyblue;
}

.summary_table {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    max-width: 600px;
}

.text-bold {
    font-weight: bold;
}
