{% extends 'base.html.twig' %}

{% block title %}Company Sales Summary{% endblock %}

{% block body %}
    <div class="summary_table mt-5 border border-black">
        <h2 class="h3 text-bold mt-4">Companies</h2>
        <table id="companies-table" class="table">
            <tbody>
            {% for companySummary in companySalesSummaries %}
                <tr data-controller="company">
                    <td>{{ companySummary.name }}</td>
                    <td> {{ companySummary.sales_count  }} sales - ${{ companySummary.sales_total|number_format(2) }} in total</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
